.stqrm--disabled {
	pointer-events: none;
	opacity: 0.5;
}
.stqrm--code {
	font-family: var(--monoFontFamily);
	tab-size: 4;
	white-space: pre-wrap;
}
.stqrm--checkbox {
    display: flex;
    align-items: baseline;
    gap: 0.5em;
	.stqrm--oldValue, .stqrm--arrow {
		margin-right: -0.5em;
	}
}
.stqrm--icon {
	.stqrm--oldIcon {
		outline: 2px solid var(--d2h-dark-del-label-color);
		outline-offset: 0.25em;
	}
	.stqrm--newIcon {
		outline: 2px solid var(--d2h-dark-ins-label-color);
		outline-offset: 0.25em;
	}
}
.stqrm--color {
	height: 1em;
    width: 2em;
    border: 1px solid var(--SmartThemeBorderColor);
    border-radius: 4px;
	&.stqrm--oldColor {
		outline: 2px solid var(--d2h-dark-del-label-color);
		outline-offset: 0.25em;
	}
	&.stqrm--newColor {
		outline: 2px solid var(--d2h-dark-ins-label-color);
		outline-offset: 0.25em;
	}
}

.stqrm--oldValue {
	background-color: var(--d2h-dark-del-label-color);
}
.stqrm--newValue {
	background-color: var(--d2h-dark-ins-label-color);
}



dialog.popup:has(.stqrm--importDlg, .stqrm--manager) {
	aspect-ratio: unset;
	height: 95dvh;
	width: 95dvw;

	.popup-content {
		display: flex;
		flex-direction: column;
	}
	&:has(.stqrm--importDlg) .popup-controls {
		display: none;
	}
}

.stqrm--importDlg {
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;

	overflow: hidden;
	text-align: left;

	.stqrm--form {
		display: flex;
		align-items: end;
		gap: 1em;
		flex: 0 0 auto;

		label {
			flex: 1 1 auto;
			.stqrm--text {
				font-size: smaller;
			}
		}
	}


	.stqrm--head {
		display: flex;
		gap: 2em;
		align-items: baseline;

		background-color: var(--SmartThemeBlurTintColor);
		border-top: 2px solid var(--SmartThemeBorderColor);
		border-radius: 4px;
		padding: 1.5em 0.5em 0.5em 0.5em;
		position: sticky;
		top: 0;
		z-index: 1;

		.stqrm--label, .stqrm--title {
			position: relative;
			height: 1lh;
			&::before {
				bottom: 100%;
				font-size: 0.6em;
				left: 0;
				opacity: 0.4;
				position: absolute;
			}
			&::after { content: '\00a0'; }
		}
		.stqrm--label::before {
			content: 'Label:';
		}
		.stqrm--title {
			opacity: 0.75;
			&::before {
				content: 'Title:';
			}
		}
	}
	.stqrm--config {
		display: flex;
		column-gap: 2em;
		row-gap: 1.25em;
		align-items: baseline;
		flex-wrap: wrap;

		margin-bottom: 1em;
		padding: 0.5em;
	}


	.stqrm--qrs {
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	.stqrm--name {
		font-size: 1.25em;
		font-weight: bold;
	}

	.stqrm--list {
		overflow: auto;
		flex: 1 1 auto;
		gap: 2em;
		display: flex;
		flex-direction: column;
	}

	.stqrm--qr {
		border: 2px solid var(--SmartThemeBorderColor);
		border-radius: 5px;
	}


	.stqrm--automationId, .stqrm--contextList {
		position: relative;
		height: 1lh;
		min-width: 4em;
		&::before {
			bottom: 100%;
			font-size: 0.6em;
			left: 0;
			opacity: 0.4;
			position: absolute;
			white-space: nowrap;
		}
		&::after { content: '\00a0'; }
	}
	.stqrm--automationId::before { content: 'Automation ID:'}
	.stqrm--contextList::before { content: 'Context Menu:'}

	.stqrm--content {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	.stqrm--actions {
		flex: 1 1 auto;

		display: flex;
		gap: 1em;
		justify-content: center;
		align-items: end;
	}

	.d2h-code-wrapper .d2h-code-line-ctn.hljs.stscript {
		background: none;
	}
}


.stqrm--manager {
	flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;

	.stqrm--config {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2em;
		font-size: small;
		.stqrm--item {
			display: flex;
			gap: 3em;
			align-items: center;
			.text_pole {
				width: auto;
			}
		}
		.stqrm--actions {
			display: flex;
			gap: 1em;
		}
	}

	.stqrm--content {
		flex: 1 1 auto;
		overflow: auto;
	}
	.stqrm--qrsTable {
		border: 0;
		border-collapse: collapse;
		border-spacing: 0;
		text-align: left;
		white-space: nowrap;
		width: 100%;
		thead {
			background-color: var(--SmartThemeBlurTintColor);
			position: sticky;
			top: 0;
			z-index: 1;
		}
		tr {
			border-bottom: 5px solid var(--SmartThemeBorderColor);
			transition: 200ms;
			background-color: var(--primaryBgCol, var(--SmartThemeBlurTintColor));
			&:hover {
				background-color: color-mix(in srgb, var(--SmartThemeQuoteColor) 50%, transparent 50%);
			}
		}
		th, td {
			text-align: left;
			padding: 0 1em;
		}
		.stqrm--numeric {
			text-align: right;
		}
		.stqrm--nameWrap {
			display: flex;
			gap: 2em;
			justify-content: space-between;
			align-items: baseline;
			.menu_button {
				margin-right: -1em;
			}
		}
		.stqrm--name {
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
		.stqrm--count {
			cursor: help;
		}
		.stqrm--main {
			font-size: smaller;
			opacity: 0.5;
			position: relative;
			width: 99%;
			transition: 200ms;
			&.stqrm--hasUrl {
				cursor: pointer;
				&:hover {
					opacity: 1;
				}
			}
			&.stqrm--success {
				background-color: rgb(81, 163, 81);
				opacity: 1;
			}
			&.stqrm--failure {
				background-color: rgb(189, 54, 47);
				opacity: 1;
			}
			.stqrm--wrap {
				display: flex;
				align-items: center;

				bottom: 0;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				:first-child {
					flex: 0 1 auto;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
		.stqrm--actions {
			display: flex;
			gap: 0.5em;
		}
	}
}

