.stqrm--disabled {
  pointer-events: none;
  opacity: 0.5;
}
.stqrm--code {
  font-family: var(--monoFontFamily);
  tab-size: 4;
  white-space: pre-wrap;
}
.stqrm--checkbox {
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}
.stqrm--checkbox .stqrm--oldValue,
.stqrm--checkbox .stqrm--arrow {
  margin-right: -0.5em;
}
.stqrm--icon .stqrm--oldIcon {
  outline: 2px solid var(--d2h-dark-del-label-color);
  outline-offset: 0.25em;
}
.stqrm--icon .stqrm--newIcon {
  outline: 2px solid var(--d2h-dark-ins-label-color);
  outline-offset: 0.25em;
}
.stqrm--color {
  height: 1em;
  width: 2em;
  border: 1px solid var(--SmartThemeBorderColor);
  border-radius: 4px;
}
.stqrm--color.stqrm--oldColor {
  outline: 2px solid var(--d2h-dark-del-label-color);
  outline-offset: 0.25em;
}
.stqrm--color.stqrm--newColor {
  outline: 2px solid var(--d2h-dark-ins-label-color);
  outline-offset: 0.25em;
}
.stqrm--oldValue {
  background-color: var(--d2h-dark-del-label-color);
}
.stqrm--newValue {
  background-color: var(--d2h-dark-ins-label-color);
}
dialog.popup:has(.stqrm--importDlg, .stqrm--manager) {
  aspect-ratio: unset;
  height: 95dvh;
  width: 95dvw;
}
dialog.popup:has(.stqrm--importDlg, .stqrm--manager) .popup-content {
  display: flex;
  flex-direction: column;
}
dialog.popup:has(.stqrm--importDlg, .stqrm--manager):has(.stqrm--importDlg) .popup-controls {
  display: none;
}
.stqrm--importDlg {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: left;
}
.stqrm--importDlg .stqrm--form {
  display: flex;
  align-items: end;
  gap: 1em;
  flex: 0 0 auto;
}
.stqrm--importDlg .stqrm--form label {
  flex: 1 1 auto;
}
.stqrm--importDlg .stqrm--form label .stqrm--text {
  font-size: smaller;
}
.stqrm--importDlg .stqrm--head {
  display: flex;
  gap: 2em;
  align-items: baseline;
  background-color: var(--SmartThemeBlurTintColor);
  border-top: 2px solid var(--SmartThemeBorderColor);
  border-radius: 4px;
  padding: 1.5em 0.5em 0.5em 0.5em;
  position: sticky;
  top: 0;
  z-index: 1;
}
.stqrm--importDlg .stqrm--head .stqrm--label,
.stqrm--importDlg .stqrm--head .stqrm--title {
  position: relative;
  height: 1lh;
}
.stqrm--importDlg .stqrm--head .stqrm--label::before,
.stqrm--importDlg .stqrm--head .stqrm--title::before {
  bottom: 100%;
  font-size: 0.6em;
  left: 0;
  opacity: 0.4;
  position: absolute;
}
.stqrm--importDlg .stqrm--head .stqrm--label::after,
.stqrm--importDlg .stqrm--head .stqrm--title::after {
  content: '\00a0';
}
.stqrm--importDlg .stqrm--head .stqrm--label::before {
  content: 'Label:';
}
.stqrm--importDlg .stqrm--head .stqrm--title {
  opacity: 0.75;
}
.stqrm--importDlg .stqrm--head .stqrm--title::before {
  content: 'Title:';
}
.stqrm--importDlg .stqrm--config {
  display: flex;
  column-gap: 2em;
  row-gap: 1.25em;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 1em;
  padding: 0.5em;
}
.stqrm--importDlg .stqrm--qrs {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.stqrm--importDlg .stqrm--name {
  font-size: 1.25em;
  font-weight: bold;
}
.stqrm--importDlg .stqrm--list {
  overflow: auto;
  flex: 1 1 auto;
  gap: 2em;
  display: flex;
  flex-direction: column;
}
.stqrm--importDlg .stqrm--qr {
  border: 2px solid var(--SmartThemeBorderColor);
  border-radius: 5px;
}
.stqrm--importDlg .stqrm--automationId,
.stqrm--importDlg .stqrm--contextList {
  position: relative;
  height: 1lh;
  min-width: 4em;
}
.stqrm--importDlg .stqrm--automationId::before,
.stqrm--importDlg .stqrm--contextList::before {
  bottom: 100%;
  font-size: 0.6em;
  left: 0;
  opacity: 0.4;
  position: absolute;
  white-space: nowrap;
}
.stqrm--importDlg .stqrm--automationId::after,
.stqrm--importDlg .stqrm--contextList::after {
  content: '\00a0';
}
.stqrm--importDlg .stqrm--automationId::before {
  content: 'Automation ID:';
}
.stqrm--importDlg .stqrm--contextList::before {
  content: 'Context Menu:';
}
.stqrm--importDlg .stqrm--content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.stqrm--importDlg .stqrm--actions {
  flex: 1 1 auto;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: end;
}
.stqrm--importDlg .d2h-code-wrapper .d2h-code-line-ctn.hljs.stscript {
  background: none;
}
.stqrm--manager {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.stqrm--manager .stqrm--config {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  font-size: small;
}
.stqrm--manager .stqrm--config .stqrm--item {
  display: flex;
  gap: 3em;
  align-items: center;
}
.stqrm--manager .stqrm--config .stqrm--item .text_pole {
  width: auto;
}
.stqrm--manager .stqrm--config .stqrm--actions {
  display: flex;
  gap: 1em;
}
.stqrm--manager .stqrm--content {
  flex: 1 1 auto;
  overflow: auto;
}
.stqrm--manager .stqrm--qrsTable {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}
.stqrm--manager .stqrm--qrsTable thead {
  background-color: var(--SmartThemeBlurTintColor);
  position: sticky;
  top: 0;
  z-index: 1;
}
.stqrm--manager .stqrm--qrsTable tr {
  border-bottom: 5px solid var(--SmartThemeBorderColor);
  transition: 200ms;
  background-color: var(--primaryBgCol, var(--SmartThemeBlurTintColor));
}
.stqrm--manager .stqrm--qrsTable tr:hover {
  background-color: color-mix(in srgb, var(--SmartThemeQuoteColor) 50%, transparent 50%);
}
.stqrm--manager .stqrm--qrsTable th,
.stqrm--manager .stqrm--qrsTable td {
  text-align: left;
  padding: 0 1em;
}
.stqrm--manager .stqrm--qrsTable .stqrm--numeric {
  text-align: right;
}
.stqrm--manager .stqrm--qrsTable .stqrm--nameWrap {
  display: flex;
  gap: 2em;
  justify-content: space-between;
  align-items: baseline;
}
.stqrm--manager .stqrm--qrsTable .stqrm--nameWrap .menu_button {
  margin-right: -1em;
}
.stqrm--manager .stqrm--qrsTable .stqrm--name {
  cursor: pointer;
}
.stqrm--manager .stqrm--qrsTable .stqrm--name:hover {
  text-decoration: underline;
}
.stqrm--manager .stqrm--qrsTable .stqrm--count {
  cursor: help;
}
.stqrm--manager .stqrm--qrsTable .stqrm--main {
  font-size: smaller;
  opacity: 0.5;
  position: relative;
  width: 99%;
  transition: 200ms;
}
.stqrm--manager .stqrm--qrsTable .stqrm--main.stqrm--hasUrl {
  cursor: pointer;
}
.stqrm--manager .stqrm--qrsTable .stqrm--main.stqrm--hasUrl:hover {
  opacity: 1;
}
.stqrm--manager .stqrm--qrsTable .stqrm--main.stqrm--success {
  background-color: #51a351;
  opacity: 1;
}
.stqrm--manager .stqrm--qrsTable .stqrm--main.stqrm--failure {
  background-color: #bd362f;
  opacity: 1;
}
.stqrm--manager .stqrm--qrsTable .stqrm--main .stqrm--wrap {
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.stqrm--manager .stqrm--qrsTable .stqrm--main .stqrm--wrap :first-child {
  flex: 0 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stqrm--manager .stqrm--qrsTable .stqrm--actions {
  display: flex;
  gap: 0.5em;
}
